[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.8.1"
python-decouple = "==3.4"
requests = "==2.25.1"
requests-oauthlib = "==1.3.0"
twilio = "==7.1.0"
google-cloud-secret-manager = "==2.4.0"

[dev-packages]

[requires]
python_version = "3.9"
