[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.8.2"
python-decouple = "==3.6"
requests = "==2.27.0"
requests-oauthlib = "==1.3.0"
twilio = "==7.4.0"
google-cloud-secret-manager = "==2.11.0"

[dev-packages]

[requires]
python_version = "3.9"
